body{
    background-image: url("/images/bg.jpg") !important;
    background-repeat: no-repeat;
    background-position:bottom center;
    background-size: auto;
}


.log-in {
    margin: 2rem auto;
    background: rgba(255, 255, 255, 0.82) !important;
    width: 95%;
    border-radius: 12px !important;
    border: rgba(128, 128, 128, 0.082) solid 3px !important;
    box-shadow: rgba(0, 0, 0, 0.8) 0 10px 25px -5px;
}

h5 {
    margin: 2.2rem 0 !important;
    text-align: center;
    font-family: "Montserrat";

}

input {
    margin: 1.8rem auto !important;
}

.login-form {
    margin-top: 1rem;
}

.card-body {
    position: relative;
    height: 600px;
}

.log-in-img {
    object-fit: cover;
}

.signup-btn {
    width: 90%;
    position: absolute;
    font-size: 1.2rem !important;
    right: 50%;
    top: 70%;
    transform: translateX(50%);
    border-radius: 12px !important;
    box-shadow: rgba(0, 0, 0, 0.8) 1px 10px 25px -10px;
}

.form-label {
    color: rgb(13, 11, 11, 0.7);
}

.forgot-pw {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.9rem;
    text-decoration: none;
}

.new-acct {
    position: absolute;
    margin-top: 8rem;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.9rem;

}

.form-check {
    margin: 0 auto;
    font-size: 0.8rem;
    position: relative;
    bottom: 2rem;
}


.agree {
    position:absolute;
    top: 1.6rem;
    left: 2.5rem;

}

.agree a {
    text-decoration: none;
    color: red;
}

.sign-up{
    position: absolute;
    margin-top: 9.5rem;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.9rem; 
}

.sign-up a{
    text-decoration: none;
}



/* MEDIA QUERY */
@media only screen and (min-width: 530px) and (max-width: 639px){
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        
        
    }

    .log-in {
        margin: 2rem auto;
        width: 85%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .signup-btn {
        width: 90%;
    }
  }

  @media only screen and (min-width: 640px) and (max-width: 768px){
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        
        
    }

    .log-in {
        margin: 2rem auto;
        width: 75%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .signup-btn {
        width: 90%;
    }
  }

@media only screen and (min-width: 769px) and (max-width: 970px){
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        
        
    }

    .new-acct, .sign-up a {
        font-size: 0.7rem;
    }

    .log-in {
        margin: 5rem auto;
        width: 50%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
 
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .sign-up {
        margin-top: 8.9rem;
    }

    .signup-btn {
        width: 90%;
    }
  }

  @media only screen and (min-width: 970px) and (max-width: 1200px){
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        
        
    }

    .new-acct, .sign-up a {
        font-size: 0.7rem;
    }

    .log-in {
        margin: 5rem auto;
        width: 40%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .sign-up {
        margin-top: 9rem;
    }

    .signup-btn {
        width: 90%;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1768px){
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        background-position:center center;
        background-size: auto;
        
        
    }

    .new-acct, .sign-up a {
        font-size: 0.8rem;
    }

    .log-in {
        margin: 5rem auto;
        width: 35%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .sign-up {
        margin-top: 9rem;
    }

    .signup-btn {
        width: 90%;
        font-size: 1rem !important;
    }
  }

/* @media only screen and (min-width: 1209px) {
   

    body {
        margin: 0 auto;
        background-image: url("/images/bg.jpg") !important;
        background-repeat: no-repeat;
        
    }

    .log-in {
        margin: 5rem auto;
        width: 60%;
        background: rgba(255, 255, 255, 0.82) !important;
    }
    
    .login-form {
        margin: 0 auto;
    }
    .log-in-img {
        object-fit: cover;
    }

    .log-in-btn {
        width: 80%;
    }
  } */